# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
REACT_EDITOR=

AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_ACCESS_KEY=

# S3 Folder
AWS_S3_CMS_FOLDER=
AWS_S3_CLIENT_FOLDER=

ANANTARA_CLIENT_BASE_URL=
NEXT_PUBLIC_ANANTARA_CLIENT_BASE_URL=

AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_SES_FROM=
AWS_SES_TO=